:root{
  --background-color: #141414;
  --head-text-color:#fff;
  --text-color: #a6a6a6;
  --header-color: #050505;
  --nav-hover-color:#363636;
  --border-color:#212121;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  color:var(--text-color);
  background-color:var(--background-color);
  font-family: 'Quicksand', sans-serif;
  font-size:10px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
  color:var(--head-text-color);
}

h1{
  font-size:3.5em;
  margin-bottom:10px;
  text-transform:uppercase;
}

h2{
  font-size:2.3em;
  margin-bottom:10px;
}

p{
  font-size:1.8em;
  line-height:1.75;
  margin-bottom:15px;
}

input{
  padding:15px;
  font-size:1.5em;
  border:1px solid var(--border-color);
  background-color:var(--background-color);
  color: var(--head-text-color);
  outline: var(--text-color);
  transition:border 0.3s ease-in-out;
}

input[type="submit"]{
  background-color:#f5e640;
  color:#1c1c1c;
  transition:background-color 0.5s ease-in-out;
  cursor:pointer;
}

input[type="submit"]:hover{
  background-color:#fff266;
}

input:focus{
  border:1px solid var(--text-color);
  outline:none;
}

header{
  position:fixed;
  background-color:var(--header-color);
  width:100%;
  top:0;
  transition:background-color 0.3s ease-in;
  z-index:1;
}

a{

}

nav{
  display:flex;
  flex-direction:row;
  float:right;
  font-size:1.8em;
}

nav div a{
  padding:25px 10px 25px 10px;
  color:var(--head-text-color);
  font-family: 'Roboto', sans-serif;
  text-decoration:none;
  display:block;
  width:90px;
  text-align:center;
  transition:background-color 0.3s linear;
}
nav div a:hover{
  background-color:var(--nav-hover-color);
}

main{
  margin-top:100px;
}

footer{
  height:300px;
  background-color:var(--header-color);
  color:var(--header-text-color);
  font-size:1.8em;
  padding:25px;
  margin-top:100px;
}

footer ul{
  margin:auto;
  margin-top:30px;
  max-width:800px;
  list-style:none;
}

#header-img{
  display:none;
}

#header-wrapper{
  max-width:800px;
  margin:auto;
  transition:max-width 0.3s ease-in;
}

#svg-logo{
  width:100px;
  margin-top:14px
}

#svg-logo .st0{
  fill:var(--head-text-color);
}

.content-wrapper{
  max-width:800px;
  margin:auto;
}

.hero-video{
  text-align:center;
}

.title-card{
  text-align:center;
  padding-top:40px;
  padding-bottom:40px;
}

.sign-up{
  text-align:center;
  padding-top:120px;
  padding-bottom:120px;
  background-color:var(--header-color);
}

.embed-responsive{
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.info-card{
  padding-top:50px;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.feature-points{
  list-style:none;
  margin:0 25px;
  margin-top:50px;
}

.feature-points h3{
  color:#f5e640;
  font-size:2em;
  text-transform:uppercase;
}

@media only screen and (max-width:850px){
  .content-wrapper{
    margin-left:30px;
    margin-right:30px;
  }

  header{
    background-color:var(--header-color);
  }
}
